<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/logo.png.webp">
    <link rel="stylesheet" href="/css/chat.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>WebChat</title>
</head>

<body>
    <h2 id="main-heading">Welcome to this page</h2>
    <div id="chatbox">
        <div id="room-info">
            <input type="text" name="roomname" id="roomname">
            <input type="password" name="roompassword" id="roompassword">
            <button onclick ="createRoom()" id="create-room-btn">Create Room</button>
            <button id="join-room-btn">Join Room</button>
        </div>
        <div id="chat-area">
            <div id="chat-messages">
                <div id="room-heading">
                    <ion-icon name="arrow-back"></ion-icon>
                    <h2 id="curr-room-name">JAVASCRIPT</h2>
                </div>
                <div id="main-chats">
                    <div class="chat-display-messages">
                        <p>Wanna Catch Up for dinner</p>
                        <ion-icon class="back-carret" name="caret-back-outline"></ion-icon>
                    </div>
                    <div class="chat-display-messages">
                        <p>Yes i Will</p>
                        <ion-icon class="back-carret" name="caret-back-outline"></ion-icon>
                    </div>
                    <div class="chat-display-messages">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ion-icon class="back-carret" name="caret-back-outline"></ion-icon>
                    </div>
                    <div class="chat-display-messages me">
                        <p>Yes i Will</p>
                        <ion-icon name="caret-back-outline" class="front-carret"></ion-icon>
                    </div>
                    <div class="chat-display-messages me">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ion-icon name="caret-back-outline" class="front-carret"></ion-icon>
                    </div>
                    <div class="chat-display-messages me">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <ion-icon name="caret-back-outline" class="front-carret"></ion-icon>
                    </div>
                </div>
            </div>
            <div id="send-bar">
                <ion-icon name="add-circle-sharp"></ion-icon>
                <input type="text" id="message" name="message" value="message">
                <ion-icon name="send"></ion-icon>
            </div>
        </div>
    </div>

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/javascript/chat.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</html>
