<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/images/logo.png.webp">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>WebChat</title>
</head>

<body>
    <div id="logo">
        <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
    <nav id="menu">
            <div class="menu-item">
                <div class="menu-text">
                    <a href="#">Products</a>
                </div>
                <div class="sub-menu">
                    <div class="icon-box">
                        <div class="icon"><i class="fal fa-wind-turbine"></i></div>
                        <div class="text">
                            <div class="title">Turbo Editor <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Edit your code while slowing down time.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fal fa-lightbulb-on"></i></div>
                        <div class="text">
                            <div class="title">Idea Creator <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Think of an idea, and have an AI create it.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fal fa-bomb"></i></div>
                        <div class="text">
                            <div class="title">Super Collider <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Remove mass from any object.</div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a href="#">Services</a>
                </div>
                <div class="sub-menu double">
                    <div class="icon-box gb a">
                        <div class="icon"><i class="far fa-question-circle"></i></div>
                        <div class="text">
                            <div class="title">Consult <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">From Professionals</div>
                        </div>
                    </div>
                    <div class="icon-box gb b">
                        <div class="icon"><i class="far fa-users-class"></i></div>
                        <div class="text">
                            <div class="title">Teach <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">In Classroom</div>
                        </div>
                    </div>
                    <div class="icon-box gb c">
                        <div class="icon"><i class="far fa-school"></i></div>
                        <div class="text">
                            <div class="title">Learn <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">By Video</div>
                        </div>
                    </div>
                    <div class="icon-box gb d">
                        <div class="icon"><i class="far fa-chess-rook"></i></div>
                        <div class="text">
                            <div class="title">Keep <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">The Castle</div>
                        </div>
                    </div>
                    <div class="icon-box gb e">
                        <div class="icon"><i class="far fa-video-plus"></i></div>
                        <div class="text">
                            <div class="title">Become <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">A Creator</div>
                        </div>
                    </div>
                    <div class="icon-box gb f">
                        <div class="icon"><i class="far fa-cat"></i></div>
                        <div class="text">
                            <div class="title">Understand <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Our Journey</div>
                        </div>
                    </div>
                    <div class="bottom-container">
                        Ready to dive in? <a href="#">Get Started</a>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div class="menu-item highlight">
                <div class="menu-text">
                    <a href="#">Support</a>
                </div>
                <div class="sub-menu triple">
                    <div class="top-container gb c icon-box">
                        <div class="icon big"><i class="far fa-book"></i></div>
                        <div class="text">
                            <div class="title">Where to start</div>
                            <div class="sub-text">Find out where to begin below</div>
                        </div>
                    </div>
                    <div class="box">
                        <h3>Your Journey</h3>
                        <a href="#">Get Started</a>
                        <a href="#">Learn the Basics</a>
                        <a href="#">Get Advanced</a>
                        <a href="#">Start Teaching</a>
                    </div>
                    <div class="box">
                        <h3>Your Tools</h3>
                        <a href="#">Turbo Editor</a>
                        <a href="#">Time Stopper</a>
                        <a href="#">Brain Enhancer</a>
                        <a href="#">Network Maker</a>
                    </div>
                    <div class="icon-box flat">
                        <div class="icon"><i class="fal fa-plug"></i></div>
                        <div class="text">
                            <div class="title">API Guide <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <div class="icon"><i class="fal fa-comments"></i></div>
                        <div class="text">
                            <div class="title">Support Line <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <div class="icon"><i class="fal fa-phone-volume"></i></div>
                        <div class="text">
                            <div class="title">Live Chat <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                    <div class="icon-box flat">
                        <div class="icon"><i class="fal fa-book-spells"></i></div>
                        <div class="text">
                            <div class="title">Documentation <i class="far fa-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-item">
                <div class="menu-text">
                    <a href="#">Community</a>
                </div>
                <div class="sub-menu">
                    <div class="icon-box">
                        <div class="icon"><i class="far fa-satellite"></i></div>
                        <div class="text">
                            <div class="title">Forum <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Join our passionate community.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fab fa-twitter-square"></i></div>
                        <div class="text">
                            <div class="title">Twitter <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">Follow us on twitter.</div>
                        </div>
                    </div>
                    <div class="icon-box">
                        <div class="icon"><i class="fab fa-twitch"></i></div>
                        <div class="text">
                            <div class="title">Live Stream <i class="far fa-arrow-right"></i></div>
                            <div class="sub-text">We stream content every day.</div>
                        </div>
                    </div>
                    <div class="sub-menu-holder"></div>
                </div>
            </div>
            <div id="sub-menu-container">
                <div id="sub-menu-holder">
                    <div id="sub-menu-bottom">

                    </div>
                </div>
            </div>
    </nav>
    <section id="main">
        <div id="left">
            <div class="image" id="first-image">
                <img src="/images/whatsapp.jpeg" alt="">
            </div>
            <div class="image" id="second-image">
                <img src="/images/whatapp-tab.jpeg" alt="">
            </div>
            <div class="image" id="third-image">
                <img src="/images/whatapp-desktop.jpeg" alt="">
            </div>
        </div>
        <div id="right">
            <h1 id="webchat-heading">WebChat</h1>
        </div>
    </section>  
    {{!-- <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">WebChat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 id="welcome-text">Connect To Your Close Ones</h1>
    <form  id="main-form" action="/chat">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="input-username" placeholder="You will be displayed by this name">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Room Name</label>
            <input type="text" class="form-control" name="room" id="input-room" placeholder="Room you want to join">
        </div>
        <button>Submit</button>
    </form> --}}


</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://kit.fontawesome.com/628c8d2499.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js"></script>
<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/javascript/home.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</html>
